body {
    background: #154304;
    min-height: 100vh;
    color: #fff;
}

aside {
    position: fixed;
    background: #025c37;
    width: 300px;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    /*box-sizing: border-box;*/
}

main {
    margin-left: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    color: #fff;
}

main .features {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-top: 50px;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.alert-warning {
    width: 400px;
    margin: 20px auto;
    text-align: left;
    clear: both;
}

aside img {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: block;
    transition: transform .6s ease;
}

aside ul li a:hover {
    color: #154304;
    transform: scale(1.05);
}